@import '../../variables';

.btn {
  background-color: var(--white);
  -webkit-apperance: none;
  padding: calc(var(--spacing) / 2.4) calc(var(--spacing) * 1.5);
  margin: var(--spacing) 0px;
  margin-right: calc(var(--spacing) / 2);
  border: none;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-radius: 25px;
  font-family: var(--font-sans-serif);
  font-size: 1em;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  transition: all .3s;
  cursor: pointer;
  text-transform: capitalize;
}

.btn.borderless {
  box-shadow: none;
}

.btn.transparent {
  background-color: transparent !important;
}

.btn.large {
  font-size: 1.4em;
}

.btn.small {
  font-size: 0.8em;
  padding: calc(var(--spacing) / 3.4) calc(var(--spacing));
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.btn:disabled:hover {
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.btn:hover,
.btn:focus {
  outline: none !important;
  box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,0.2);
}


.btn.primary { background-color: var(--primary-light); }
.btn.info { background-color: var(--info-light); }
.btn.danger { background-color: var(--danger); }
.btn.dark {
  background-color: var(--dark-light);
  color: var(--white);
}
.btn.grey {
  background-color: var(--grey);
}
.btn.white {
  background-color: var(--white);
  color: var(--dark);
}

.btn.white-light { background-color: var(--white-light); }
