@import 'highlight.js/styles/atom-one-light.css';
@import '../../variables';

pre code {
  background: var(--grey-transparent) !important;
  text-align: left !important;
  padding: calc(var(--spacing) / 2) var(--spacing) !important;
  margin: var(--spacing) 0px !important;
}

.hljs {
  color: var(--dark);
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
  color: var(--primary);
}

.hljs-built_in, .hljs-class .hljs-title {
  color: var(--info)
}

.hljs-attr {
  color: var(--dark-light)
}

.hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number {
  color: var(--danger);
}

.hljs-doctag, .hljs-keyword, .hljs-formula {
  color: var(--info);
}

@media(max-width: 800px) {
  pre code {
    margin-left: calc(var(--spacing) * -1) !important;
    margin-right: calc(var(--spacing) * -1) !important;
    border-radius: 0px !important;
  }
}
